<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SuccinctlyDB" connectionString="Server=Computer\SqlExpress; Database=SuccinctlyExamples; Integrated Security=SSPI"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>